header {
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  font-family: 'Barlow', sans-serif;
  overflow-y: scroll;
}

h4 {
  margin: 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

#main-div {
  overflow: hidden;
}

.nav-item.active {
  font-weight: 500;
}

.nav-link {
  font-size:20px;
}

.photo-section.visible .first-img,
.photo-section.visible .second-img {
  opacity: 1;
  transform: translateY(0px);
}

.img-overlay {
  background-color: black;
  opacity: 0.7;
  transition: opacity 300ms ease-out;
  position: absolute;
  z-index: 10;
  color: white;
  padding: 10px 15px 12px 15px;
  display: flex;
  align-items: flex-end;
  bottom: 0;
}

.img-overlay-text {
  position: relative;
  opacity: 1;
}

.index-project-title {
  font-weight: 300;
  letter-spacing: -0.5px; 
}

.index-project-description {
  display: none;
  font-weight: 300;
}

.card-cell {
  overflow: hidden;
  position: relative;
  margin-top: -1px;
  cursor: pointer;
}

.project-header {
  margin-bottom: 60px;
}

.project-subheader {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  margin-bottom: 30px;
}

.project-body {
  margin-top: 60px;
  margin-bottom: 70px;
}

.project-body ul {
  padding: 0;
  padding-left: 16px;
}

.project-title {
  font-size: 50px;
  font-weight: 300;
  margin-left: -2px;
  letter-spacing: -0.5px;
}

.project-description {
  font-size: 22px;
  font-weight: 300;
}

.project-large-paragraph {
  font-size: 24px;
  line-height: 1.35;
  margin-bottom: 30px;
  font-weight: 300;
}

.project-paragraph {
  font-size: 20px;
  font-weight: 300;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.role-header {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  margin-bottom: 15px;
}

.role-description {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 300;
}

.img-container {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.index-img-container {
  padding-bottom: 70.83%;
  position: relative;
  width: 100%;
}

.seattle-img-container {
  padding-bottom: 125%;
  position: relative;
  width: 100%;
}

.hangeul-img-container {
  padding-bottom: 129.2%;
  position: relative;
  width: 100%;
}

.square-img-container {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.custom-gif-container {
  padding-bottom: 44.683544303797468%;
  position: relative;
  width: 100%;
}

.index-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .slide-in {
    animation: 1200ms ease-out 0s 1 slideInFromBottom;
  }
  .photo-section .first-img,
  .photo-section .second-img {
    opacity: 0;
    transition: transform 400ms ease-out, opacity 800ms ease-out;
    transform: translateY(100px);
  }

  .photo-section .first-img {
    transition-delay: 100ms;
  }

  .photo-section .second-img {
    transition-delay: 200ms;
  }

  .img-overlay-text,
  .img-overlay {
    opacity: 0;
  }

  .img-overlay {
    padding: 0 60px;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .img-overlay-text {
    transition: transform 300ms ease-out;
    transform: translateY(30px);
  }

  .index-project-description {
    display: block;
  }

  .index-project-title {
    font-size: 32px;
    margin-left: -1px;
    margin-bottom: 5px;
  }

  .card-cell:hover .img-overlay {
    opacity: 0.7;
  }

  .card-cell:hover .img-overlay-text {
    opacity: 1;
    transform: translateY(0px);
  }

  .card-cell img {
    transition: transform 300ms ease-out;
  }

  .card-cell:hover img {
    transform: scale(1.05);
  }
}

.secondary-description {
  margin-top: 20px;
}

@media (min-width: 992px) {
  header {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .secondary-description {
    margin-left: 33px;
    margin-top: 0px;
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
  background-color: #d8d8d8;
}

.carousel-indicators li.active {
  background-color: #848484;
}

.carousel-control-container {
  padding: 15px;
  background: #bebebe;
  height: 24px;
  border-radius: 50%;
  box-sizing: content-box;
  width: 24px;
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
  opacity: 0.5;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  opacity: 0.9;
}

#name-noun {
  font-style: italic;
  color: #999999;
  font-size:30px;
}

.profile-name h1 {
  font-size: 50px;
}

.profile-description {
  margin-top: 40px;
}

.contact-header {
  padding-bottom: 150px;
}

.contact-header h1 {
  font-weight: 200;
}

.contact-chat {
  margin-top: 60px;
}

.contact-chat h4 {
  font-weight: 300;
}
