header {
  padding-top: 70px;
  padding-bottom: 70px;
}

.photo-section .first-img,
.photo-section .second-img {
  opacity: 0;
  transition: transform 600ms ease-out, opacity 1000ms ease-out;
  transform: translateY(100px);
}

.photo-section .first-img {
  transition-delay: 100ms;
}

.photo-section .second-img {
  transition-delay: 200ms;
}

.photo-section.visible .first-img {
  opacity: 1;
  transform: translateY(0px);
}

.photo-section.visible .second-img {
  opacity: 1;
  transform: translateY(0px);
}

.photo-info {
  color: white;
  opacity: 0;
  transition: all 600ms ease-out;
  transform: translateY(30px);
  display: inline-block;
  padding: 30px;
  padding-top: 200px;
  font-size: 40px;
}

.photo-info.visible {
  opacity: 1;
  transform: translateY(0px);
}

.card-cell {
  height: 450px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.card-cell .img-overlay {
  background-color: black;
  opacity: 0;
  transition: opacity 300ms ease-in;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 25px;
}

.img-overlay-text {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.card-cell img {
  transition: transform 300ms ease-in;
  z-index: 9;
}

.card-cell:hover .img-overlay {
  opacity: 0.7;
}

.card-cell:hover img {
  transform: scale(1.1);
}

footer {
  margin-top: 30px;
}