<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <title>Sarah Han</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="#">S / H</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Work <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Life</a>
            <a class="nav-item nav-link" href="#">Contact</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div id="main-div"></div>
    </main>

    <footer>  
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="node_modules/underscore/underscore-min.js"></script>
    <script src="node_modules/backbone/backbone-min.js"></script>
    <script src="js/core.js"></script>
    <script type='text/template' id='project-overview-template'>
      <div class="row no-gutters">
        <div class="col">
          <div class="card-cell first-img">
            <div class="img-overlay">
              <span class="img-overlay-text">
                <%= firstImgOverlayText %>
              </span>
            </div>
            <img class="img-fluid" src="<%= firstImgUrl %>" />
          </div>
        </div>
        <div class="col">
          <div class="card-cell second-img">
            <div class="img-overlay">
              <span class="img-overlay-text">
                <%= secondImgOverlayText %>
              </span>
            </div>
            <img class="img-fluid" src="<%= secondImgUrl %>" />
          </div>
        </div>
      </div>    
    </script>
    <script type='text/template' id='photo-section-template'>
      <div class="row">
        <div class="col">
          <div class="card-cell">
            <span class="photo-info">
              <%= title %>
            </span>
          </div>
        </div>
        <div class="col">
          <div class="card-cell">
            <div class="img-overlay">
              <span><%= firstImgOverlayText %></span>
            </div>
            <img class="img-fluid" src="<%= firstImgUrl %>" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-cell">
          </div>
        </div>
        <div class="col">
          <div class="card-cell">
            <div class="img-overlay">
              <span><%= secondImgOverlayText %></span>
            </div>
            <img class="img-fluid" src="<%= secondImgUrl %>" />
          </div>
        </div>
      </div>
    </script>
    <script type="text/javascript">
      var Project = Backbone.Model.extend({
        defaults: {
          firstImgUrl: "images/mc-5.png",
          secondImgUrl: "images/mc-5.png",
          firstImgOverlayText: "First Overlay Text",
          secondImgOverlayText: "Second Overlay Text"
        }
      });
      var ProjectView = Backbone.View.extend({
        template: _.template($("#project-overview-template").html()),
        tagName: "div",
        className: "photo-section",

        render: function () {
          this.$el.html(this.template(this.model.toJSON()));
          this.checkIfShow();
          $(document).on("scroll", _.throttle(_.bind(function () {
            this.checkIfShow();
          }, this), 600));
          return this;
        },

        checkIfShow: function () {
          if(($(document).scrollTop() + $(window).height()) >= this.$el.position().top){
            this.$el.addClass("visible");
          }
          if(($(document).scrollTop() + $(window).height() / 2) >= this.$el.position().top){
            this.$(".photo-info").addClass("visible");
          }
        }
      });
      var projectView = new ProjectView({
        model: new Project({
          firstImgUrl: "images/mc.png",
          secondImgUrl: "images/Contact-us-ipad.png"
        })
      });
      projectView.$el.appendTo("#main-div");
      projectView.render();

      var projectView2 = new ProjectView({
        model: new Project({
          firstImgUrl: "images/LC.png",
          secondImgUrl: "images/mc-2.png"
        })
      });
      projectView2.$el.appendTo("#main-div");
      setTimeout(function () {
        projectView2.render();
      }, 300);

      var PhotoSection = Backbone.Model.extend({
        defaults: {
          title: "Hello Title",
          firstImgUrl: "https://images3.alphacoders.com/823/82317.jpg",
          secondImgUrl: "https://www.hdwallpapers.in/walls/autumn_bench-HD.jpg",
          firstImgOverlayText: "First Overlay Text",
          secondImgOverlayText: "Second Overlay Text"
        }
      });
      var photoSectionOne = new PhotoSection();
      var PhotoSectionView = Backbone.View.extend({
        template: _.template($("#photo-section-template").html()),
        tagName: "div",
        className: "photo-section",

        initialize: function () {
          this.render();
          $(document).on("scroll", _.throttle(_.bind(function () {
            if(($(document).scrollTop() + $(window).height()) >= this.$el.position().top){
              this.$el.addClass("visible");
            }
            if(($(document).scrollTop() + $(window).height() / 2) >= this.$el.position().top){
              this.$(".photo-info").addClass("visible");
            }
          }, this), 600));
        },

        render: function () {
          this.$el.html(this.template(this.model.toJSON()));
          return this;
        }
      });
      var photoSectionView = new PhotoSectionView({
        model: photoSectionOne
      });
      //photoSectionView.$el.appendTo("#main-div");
    </script>
  </body>
</html>