<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <title>Sarah Han</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light container">
        <a class="navbar-brand" href="javascript:void(0)">S / H</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="javascript:void(0)" data-page="work">Work</a>
            <a class="nav-item nav-link active" href="javascript:void(0)" data-page="life">Life</a>
          </div>
        </div>
      </nav>
    </header> 

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/underscore/underscore-min.js"></script>
    <script src="js/backbone/dist/backbone-min.js"></script>

    <script type="text/javascript">
      window.SH = window.SH || { };
    </script>

    <!-- Main javascript -->
    <script src="js/main.js"></script>

    <main>
      <div id="main-div">
        <!-- Backbone Models -->
        <script src="js/backbone/models/project_pair.js"></script>

        <!-- Template -->
        <script type="text/template" id="project-pair-template">
          <div class="row no-gutters">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="card-cell first-img">
                <a data-page-id="<%= firstPageId %>">
                  <div class="index-img-container">
                    <div class="img-overlay">
                      <span class="img-overlay-text">
                        <h4 class="index-project-title"><%= firstImgOverlayText %></h4>
                        <h6 class="index-project-description"><%= firstImgOverlayDescription %></h6>
                      </span>
                    </div>
                    <img class="img-fluid index-img" src="<%= firstImgUrl %>" />
                  </div>
                </a>
              </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="card-cell second-img">
                <a data-page-id="<%= secondPageId %>">
                  <div class="index-img-container">
                    <div class="img-overlay">
                      <span class="img-overlay-text">
                        <h4 class="index-project-title"><%= secondImgOverlayText %></h4>
                        <h6 class="index-project-description"><%= secondImgOverlayDescription %></h6>
                      </span>
                    </div>
                    <img class="img-fluid index-img" src="<%= secondImgUrl %>" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </script>

        <!-- Backbone Views -->
        <script src="js/backbone/views/project_pair_view.js"></script>

        <!-- Work javascript -->
        <script type="text/javascript">
          var lifeView = new SH.ProjectPairView({
            model: new SH.ProjectPair({
              firstImgUrl: "images/blockprints/bp-thumb.png",
              secondImgUrl: "images/hangeul/hangeul-thumb.png",
              firstImgOverlayText: "Blockprints",
              secondImgOverlayText: "Hangeul",
              firstPageId: "blockprints",
              secondPageId: "hangeul"
            })
          });
          lifeView.$el.appendTo("#main-div");
          var lifeView2 = new SH.ProjectPairView({
            model: new SH.ProjectPair({
              firstImgUrl: "images/invitation/invitation-thumb.png",
              secondImgUrl: "images/seattle/seattle-thumb.png",
              firstImgOverlayText: "Invitation",
              secondImgOverlayText: "Seattle",
              firstPageId: "invitation",
              secondPageId: "seattle"
            })
          });
          lifeView2.$el.appendTo("#main-div");

          var allViews = [lifeView, lifeView2];
          var numToShow = Math.ceil($(window).height() / 420);
          var viewsToShow = allViews.slice(0, numToShow);
          var viewsToHide = allViews.slice(numToShow);

          var timeout = 0;
          _.each(viewsToShow, function (view) {
            setTimeout(function () {
              view.render();
            }, timeout);
            timeout = timeout + 300;
          });

          setTimeout(function () {
            _.each(viewsToHide, function (view) {
              view.render();
            });
          }, timeout);
        </script>
      </div>
    </main>
  </body>
</html>